@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /* 라이트 모드 기본 색상 */
    --primary: #2563eb;
    --secondary: #4f46e5;
    --background: #ffffff;
    --foreground: rgb(227, 227, 227);
    --card-bg: #f1f5f9;
    --card-fg: #1e293b;
    --text: #1e293b;
}

.dark {
    /* 다크 모드 색상 */
    --primary: #3b82f6;
    --secondary: #6366f1;
    --background: #191919;
    --foreground: #202020;
    --card-bg: #1e293b;
    --card-fg: #f1f5f9;
    --text: #f1f5f9;
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}
